.torah {
  --book-color: 147, 177, 214;
  background: rgba(var(--book-color), 0.2);
}
.torah.active { background: rgb(var(--book-color)); }

.history {
  --book-color: 134, 188, 158;
  background: rgba(var(--book-color), 0.2);
}
.history.active { background: rgb(var(--book-color)); }

.wisdom {
  --book-color: 218, 194, 130;
  background: rgba(var(--book-color), 0.2);
}
.wisdom.active { background: rgb(var(--book-color)); }

.majorProphets {
  --book-color: 205, 150, 160;
  background: rgba(var(--book-color), 0.2);
}
.majorProphets.active { background: rgb(var(--book-color)); }

.minorProphets {
  --book-color: 198, 162, 184;
  background: rgba(var(--book-color), 0.2);
}
.minorProphets.active { background: rgb(var(--book-color)); }

.gospels {
  --book-color: 201, 162, 100;
  background: rgba(var(--book-color), 0.2);
}
.gospels.active { background: rgb(var(--book-color)); }

.acts {
  --book-color: 156, 162, 198;
  background: rgba(var(--book-color), 0.2);
}
.acts.active { background: rgb(var(--book-color)); }

.paul {
  --book-color: 172, 156, 198;
  background: rgba(var(--book-color), 0.2);
}
.paul.active { background: rgb(var(--book-color)); }

.general {
  --book-color: 140, 188, 182;
  background: rgba(var(--book-color), 0.2);
}
.general.active { background: rgb(var(--book-color)); }

.revelation {
  --book-color: 198, 156, 156;
  background: rgba(var(--book-color), 0.2);
}
.revelation.active { background: rgb(var(--book-color)); }
